*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}
.Main-div{
    
    margin: 0;
    min-height: 100vh;
    background-color: #1E0555;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-div{

    width: 50vw;
    background-color: #fff;
    
    padding: 2rem 4rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0, 0, 0,0.4);
}
.displayTable{
    text-align: left;
    font-size: 25px;
}
.subtitle {

    /* top :6rem;
    position:absolute; 
    font-size: 2rem;
    color: yellow;  
    font-weight: bold;
    text-align: center; */
    top :6rem;
    position:absolute; 
    font-size: 2rem;
    
    border: 1px solid black;
    box-shadow: 4px 4px 2px black;
    color: black;
    background-color: #EDFF33;
    padding: 5px 10px;
  }
  .textData{
      font-size: 25px;
      padding: 1px 1px;
  }
  .tableData{
      margin-left: 500px;
      padding-left: 50px;
  }
  .back{
      background-color: #1E0555;
      width: 20%;
      
 }
 .data{
    color: yellow;
    font-size: 1rem;
      font-weight: bold;
 }